# Mod 4 Project - Starter Notebook

This notebook has been provided to you so that you can make use of the following starter code to help with the trickier parts of preprocessing the Zillow dataset. 

The notebook contains a rough outline the general order you'll likely want to take in this project. You'll notice that most of the areas are left blank. This is so that it's more obvious exactly when you should make use of the starter code provided for preprocessing. 

**_NOTE:_** The number of empty cells are not meant to infer how much or how little code should be involved in any given step--we've just provided a few for your convenience. Add, delete, and change things around in this notebook as needed!

# Some Notes Before Starting

This project will be one of the more challenging projects you complete in this program. This is because working with Time Series data is a bit different than working with regular datasets. In order to make this a bit less frustrating and help you understand what you need to do (and when you need to do it), we'll quickly review the dataset formats that you'll encounter in this project. 

## Wide Format vs Long Format

If you take a look at the format of the data in `zillow_data.csv`, you'll notice that the actual Time Series values are stored as separate columns. Here's a sample: 

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/df_head.png'>

You'll notice that the first seven columns look like any other dataset you're used to working with. However, column 8 refers to the median housing sales values for April 1996, column 9 for May 1996, and so on. This This is called **_Wide Format_**, and it makes the dataframe intuitive and easy to read. However, there are problems with this format when it comes to actually learning from the data, because the data only makes sense if you know the name of the column that the data can be found it. Since column names are metadata, our algorithms will miss out on what dates each value is for. This means that before we pass this data to our ARIMA model, we'll need to reshape our dataset to **_Long Format_**. Reshaped into long format, the dataframe above would now look like:

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/melted1.png'>

There are now many more rows in this dataset--one for each unique time and zipcode combination in the data! Once our dataset is in this format, we'll be able to train an ARIMA model on it. The method used to convert from Wide to Long is `pd.melt()`, and it is common to refer to our dataset as 'melted' after the transition to denote that it is in long format. 

# Helper Functions Provided

Melting a dataset can be tricky if you've never done it before, so you'll see that we have provided a sample function, `melt_data()`, to help you with this step below. Also provided is:

* `get_datetimes()`, a function to deal with converting the column values for datetimes as a pandas series of datetime objects
* Some good parameters for matplotlib to help make your visualizations more readable. 

Good luck!


# Step 1: Load the Data/Filtering for Chosen Zipcodes

In [1]:
import warnings
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import LabelEncoder
%matplotlib inline
import sys
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve, auc
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import RidgeClassifier
from numpy import random
from datetime import datetime
from datetime import timedelta
from pandas.plotting import register_matplotlib_converters
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.tsa.statespace.sarimax import SARIMAX
register_matplotlib_converters()
from time import time

In [2]:
zdf = pd.read_csv('zillow_data.csv', low_memory=False)

In [3]:
zdf.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

In [4]:
zdf.rename({'RegionName': 'Zipcode'}, axis='columns', inplace=True)

In [5]:
zdf.info

<bound method DataFrame.info of        RegionID  Zipcode                 City State              Metro  \
0         84654    60657              Chicago    IL            Chicago
1         90668    75070             McKinney    TX  Dallas-Fort Worth
2         91982    77494                 Katy    TX            Houston
3         84616    60614              Chicago    IL            Chicago
4         93144    79936              El Paso    TX            El Paso
...         ...      ...                  ...   ...                ...
14718     58333     1338             Ashfield    MA    Greenfield Town
14719     59107     3293            Woodstock    NH          Claremont
14720     75672    40404                Berea    KY           Richmond
14721     93733    81225  Mount Crested Butte    CO                NaN
14722     95851    89155             Mesquite    NV          Las Vegas

      CountyName  SizeRank   1996-04   1996-05   1996-06  ...  2017-07  \
0           Cook         1  334200.0  335400.0  336500.0  ...  1005500
1         Collin         2  235700.0  236900.0  236700.0  ...   308000
2         Harris         3  210400.0  212200.0  212200.0  ...   321000
3           Cook         4  498100.0  500900.0  503100.0  ...  1289800
4        El Paso         5   77300.0   77300.0   77300.0  ...   119100
...          ...       ...       ...       ...       ...  ...      ...
14718   Franklin     14719   94600.0   94300.0   94000.0  ...   216800
14719    Grafton     14720   92700.0   92500.0   92400.0  ...   202100
14720    Madison     14721   57100.0   57300.0   57500.0  ...   121800
14721   Gunnison     14722  191100.0  192400.0  193700.0  ...   662800
14722      Clark     14723  176400.0  176300.0  176100.0  ...   333800

       2017-08  2017-09  2017-10  2017-11  2017-12  2018-01  2018-02  2018-03  \
0      1007500  1007800  1009600  1013300  1018700  1024400  1030700  1033800
1       310000   312500   314100   315000   316600   318100   319600   321100
2       320600   320200   320400   320800   321200   321200   323000   326900
3      1287700  1287400  1291500  1296600  1299000  1302700  1306400  1308500
4       119400   120000   120300   120300   120300   120300   120500   121000
...        ...      ...      ...      ...      ...      ...      ...      ...
14718   217700   218600   218500   218100   216400   213100   209800   209200
14719   208400   212200   215200   214300   213100   213700   218300   222700
14720   122800   124600   126700   128800   130600   131700   132500   133000
14721   671200   682400   695600   695500   694700   706400   705300   681500
14722   336400   339700   343800   346800   348900   350400   353000   356000

       2018-04
0      1030600
1       321800
2       329900
3      1307000
4       121500
...        ...
14718   209300
14719   225800
14720   133400
14721   664400
14722   357200

[14723 rows x 272 columns]>

In [6]:
zdf.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14723 entries, 0 to 14722
Data columns (total 272 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RegionID    14723 non-null  int64
 1   Zipcode     14723 non-null  int64
 2   City        14723 non-null  object
 3   State       14723 non-null  object
 4   Metro       13680 non-null  object
 5   CountyName  14723 non-null  object
 6   SizeRank    14723 non-null  int64
 7   1996-04     13684 non-null  float64
 8   1996-05     13684 non-null  float64
 9   1996-06     13684 non-null  float64
 10  1996-07     13684 non-null  float64
 11  1996-08     13684 non-null  float64
 12  1996-09     13684 non-null  float64
 13  1996-10     13684 non-null  float64
 14  1996-11     13684 non-null  float64
 15  1996-12     13684 non-null  float64
 16  1997-01     13684 non-null  float64
 17  1997-02     13684 non-null  float64
 18  1997-03     13684 non-null  float64
 19  1997-04     13684 non-null  float64
 20  1997-05     13684 non-null  float64
 21  1997-06     13684 non-null  float64
 22  1997-07     13685 non-null  float64
 23  1997-08     13685 non-null  float64
 24  1997-09     13685 non-null  float64
 25  1997-10     13685 non-null  float64
 26  1997-11     13685 non-null  float64
 27  1997-12     13685 non-null  float64
 28  1998-01     13687 non-null  float64
 29  1998-02     13687 non-null  float64
 30  1998-03     13687 non-null  float64
 31  1998-04     13687 non-null  float64
 32  1998-05     13687 non-null  float64
 33  1998-06     13687 non-null  float64
 34  1998-07     13687 non-null  float64
 35  1998-08     13687 non-null  float64
 36  1998-09     13687 non-null  float64
 37  1998-10     13687 non-null  float64
 38  1998-11     13687 non-null  float64
 39  1998-12     13687 non-null  float64
 40  1999-01     13687 non-null  float64
 41  1999-02     13687 non-null  float64
 42  1999-03     13687 non-null  float64
 43  1999-04     13687 non-null  float64
 44  1999-05     13687 non-null  float64
 45  1999-06     13687 non-null  float64
 46  1999-07     13687 non-null  float64
 47  1999-08     13687 non-null  float64
 48  1999-09     13687 non-null  float64
 49  1999-10     13687 non-null  float64
 50  1999-11     13687 non-null  float64
 51  1999-12     13687 non-null  float64
 52  2000-01     13687 non-null  float64
 53  2000-02     13687 non-null  float64
 54  2000-03     13687 non-null  float64
 55  2000-04     13687 non-null  float64
 56  2000-05     13687 non-null  float64
 57  2000-06     13687 non-null  float64
 58  2000-07     13687 non-null  float64
 59  2000-08     13687 non-null  float64
 60  2000-09     13687 non-null  float64
 61  2000-10     13687 non-null  float64
 62  2000-11     13687 non-null  float64
 63  2000-12     13687 non-null  float64
 64  2001-01     13687 non-null  float64
 65  2001-02     13687 non-null  float64
 66  2001-03     13687 non-null  float64
 67  2001-04     13687 non-null  float64
 68  2001-05     13687 non-null  float64
 69  2001-06     13687 non-null  float64
 70  2001-07     13687 non-null  float64
 71  2001-08     13687 non-null  float64
 72  2001-09     13687 non-null  float64
 73  2001-10     13687 non-null  float64
 74  2001-11     13687 non-null  float64
 75  2001-12     13687 non-null  float64
 76  2002-01     13687 non-null  float64
 77  2002-02     13687 non-null  float64
 78  2002-03     13687 non-null  float64
 79  2002-04     13687 non-null  float64
 80  2002-05     13687 non-null  float64
 81  2002-06     13687 non-null  float64
 82  2002-07     13687 non-null  float64
 83  2002-08     13687 non-null  float64
 84  2002-09     13687 non-null  float64
 85  2002-10     13687 non-null  float64
 86  2002-11     13687 non-null  float64
 87  2002-12     13687 non-null  float64
 88  2003-01     13687 non-null  float64
 89  2003-02     13687 non-null  float64
 90  2003-03     13687 non-null  float64
 91  2003-04     13687 non-null  float64
 92  2003-05     13687 non-null  float64
 93  2003-06     13687 non-null  float64
 94  2003-07     13805 non-null  float64
 95  2003-08     13805 non-null  float64
 96  2003-09     13805 non-null  float64
 97  2003-10     13805 non-null  float64
 98  2003-11     13805 non-null  float64
 99  2003-12     13805 non-null  float64
 100 2004-01     13836 non-null  float64
 101 2004-02     13836 non-null  float64
 102 2004-03     13836 non-null  float64
 103 2004-04     13836 non-null  float64
 104 2004-05     13836 non-null  float64
 105 2004-06     13836 non-null  float64
 106 2004-07     13857 non-null  float64
 107 2004-08     13857 non-null  float64
 108 2004-09     13857 non-null  float64
 109 2004-10     13857 non-null  float64
 110 2004-11     13857 non-null  float64
 111 2004-12     13857 non-null  float64
 112 2005-01     13909 non-null  float64
 113 2005-02     13909 non-null  float64
 114 2005-03     13922 non-null  float64
 115 2005-04     13922 non-null  float64
 116 2005-05     13922 non-null  float64
 117 2005-06     13922 non-null  float64
 118 2005-07     14000 non-null  float64
 119 2005-08     14000 non-null  float64
 120 2005-09     14000 non-null  float64
 121 2005-10     14000 non-null  float64
 122 2005-11     14000 non-null  float64
 123 2005-12     14000 non-null  float64
 124 2006-01     14056 non-null  float64
 125 2006-02     14056 non-null  float64
 126 2006-03     14056 non-null  float64
 127 2006-04     14056 non-null  float64
 128 2006-05     14056 non-null  float64
 129 2006-06     14056 non-null  float64
 130 2006-07     14083 non-null  float64
 131 2006-08     14083 non-null  float64
 132 2006-09     14083 non-null  float64
 133 2006-10     14083 non-null  float64
 134 2006-11     14083 non-null  float64
 135 2006-12     14083 non-null  float64
 136 2007-01     14103 non-null  float64
 137 2007-02     14103 non-null  float64
 138 2007-03     14103 non-null  float64
 139 2007-04     14103 non-null  float64
 140 2007-05     14103 non-null  float64
 141 2007-06     14103 non-null  float64
 142 2007-07     14110 non-null  float64
 143 2007-08     14110 non-null  float64
 144 2007-09     14110 non-null  float64
 145 2007-10     14110 non-null  float64
 146 2007-11     14110 non-null  float64
 147 2007-12     14110 non-null  float64
 148 2008-01     14116 non-null  float64
 149 2008-02     14116 non-null  float64
 150 2008-03     14116 non-null  float64
 151 2008-04     14116 non-null  float64
 152 2008-05     14116 non-null  float64
 153 2008-06     14116 non-null  float64
 154 2008-07     14125 non-null  float64
 155 2008-08     14125 non-null  float64
 156 2008-09     14125 non-null  float64
 157 2008-10     14125 non-null  float64
 158 2008-11     14125 non-null  float64
 159 2008-12     14125 non-null  float64
 160 2009-01     14136 non-null  float64
 161 2009-02     14136 non-null  float64
 162 2009-03     14136 non-null  float64
 163 2009-04     14136 non-null  float64
 164 2009-05     14136 non-null  float64
 165 2009-06     14136 non-null  float64
 166 2009-07     14143 non-null  float64
 167 2009-08     14143 non-null  float64
 168 2009-09     14143 non-null  float64
 169 2009-10     14143 non-null  float64
 170 2009-11     14143 non-null  float64
 171 2009-12     14143 non-null  float64
 172 2010-01     14144 non-null  float64
 173 2010-02     14144 non-null  float64
 174 2010-03     14374 non-null  float64
 175 2010-04     14374 non-null  float64
 176 2010-05     14374 non-null  float64
 177 2010-06     14374 non-null  float64
 178 2010-07     14415 non-null  float64
 179 2010-08     14415 non-null  float64
 180 2010-09     14415 non-null  float64
 181 2010-10     14415 non-null  float64
 182 2010-11     14415 non-null  float64
 183 2010-12     14415 non-null  float64
 184 2011-01     14448 non-null  float64
 185 2011-02     14448 non-null  float64
 186 2011-03     14448 non-null  float64
 187 2011-04     14448 non-null  float64
 188 2011-05     14448 non-null  float64
 189 2011-06     14448 non-null  float64
 190 2011-07     14472 non-null  float64
 191 2011-08     14472 non-null  float64
 192 2011-09     14472 non-null  float64
 193 2011-10     14472 non-null  float64
 194 2011-11     14472 non-null  float64
 195 2011-12     14472 non-null  float64
 196 2012-01     14499 non-null  float64
 197 2012-02     14499 non-null  float64
 198 2012-03     14499 non-null  float64
 199 2012-04     14499 non-null  float64
 200 2012-05     14499 non-null  float64
 201 2012-06     14499 non-null  float64
 202 2012-07     14517 non-null  float64
 203 2012-08     14517 non-null  float64
 204 2012-09     14517 non-null  float64
 205 2012-10     14517 non-null  float64
 206 2012-11     14517 non-null  float64
 207 2012-12     14517 non-null  float64
 208 2013-01     14572 non-null  float64
 209 2013-02     14572 non-null  float64
 210 2013-03     14572 non-null  float64
 211 2013-04     14572 non-null  float64
 212 2013-05     14572 non-null  float64
 213 2013-06     14572 non-null  float64
 214 2013-07     14614 non-null  float64
 215 2013-08     14614 non-null  float64
 216 2013-09     14614 non-null  float64
 217 2013-10     14614 non-null  float64
 218 2013-11     14614 non-null  float64
 219 2013-12     14614 non-null  float64
 220 2014-01     14667 non-null  float64
 221 2014-02     14667 non-null  float64
 222 2014-03     14667 non-null  float64
 223 2014-04     14667 non-null  float64
 224 2014-05     14667 non-null  float64
 225 2014-06     14667 non-null  float64
 226 2014-07     14723 non-null  int64
 227 2014-08     14723 non-null  int64
 228 2014-09     14723 non-null  int64
 229 2014-10     14723 non-null  int64
 230 2014-11     14723 non-null  int64
 231 2014-12     14723 non-null  int64
 232 2015-01     14723 non-null  int64
 233 2015-02     14723 non-null  int64
 234 2015-03     14723 non-null  int64
 235 2015-04     14723 non-null  int64
 236 2015-05     14723 non-null  int64
 237 2015-06     14723 non-null  int64
 238 2015-07     14723 non-null  int64
 239 2015-08     14723 non-null  int64
 240 2015-09     14723 non-null  int64
 241 2015-10     14723 non-null  int64
 242 2015-11     14723 non-null  int64
 243 2015-12     14723 non-null  int64
 244 2016-01     14723 non-null  int64
 245 2016-02     14723 non-null  int64
 246 2016-03     14723 non-null  int64
 247 2016-04     14723 non-null  int64
 248 2016-05     14723 non-null  int64
 249 2016-06     14723 non-null  int64
 250 2016-07     14723 non-null  int64
 251 2016-08     14723 non-null  int64
 252 2016-09     14723 non-null  int64
 253 2016-10     14723 non-null  int64
 254 2016-11     14723 non-null  int64
 255 2016-12     14723 non-null  int64
 256 2017-01     14723 non-null  int64
 257 2017-02     14723 non-null  int64
 258 2017-03     14723 non-null  int64
 259 2017-04     14723 non-null  int64
 260 2017-05     14723 non-null  int64
 261 2017-06     14723 non-null  int64
 262 2017-07     14723 non-null  int64
 263 2017-08     14723 non-null  int64
 264 2017-09     14723 non-null  int64
 265 2017-10     14723 non-null  int64
 266 2017-11     14723 non-null  int64
 267 2017-12     14723 non-null  int64
 268 2018-01     14723 non-null  int64
 269 2018-02     14723 non-null  int64
 270 2018-03     14723 non-null  int64
 271 2018-04     14723 non-null  int64
dtypes: float64(219), int64(49), object(4)
memory usage: 30.6+ MB

Something I had suspected, and it seems to be the case: new area codes are added over time so area codes that didn't exist in a particular month have a null value. I can either get rid of those zip codes, or I can start from a later month.

The "Metro" Column also has null values, presumably because these zip codes are far from any large city.

A final thing to note is that the months before mid 2014 are recorded in float, and after are recorded in int. This may or not be a problem, but it will be a good idea to convert them to the same type anyway.

In [7]:
print(zdf['City'].value_counts(dropna=True))

New York        114
Los Angeles      95
Houston          88
San Antonio      48
Washington       45
               ...
Hazleton          1
Putnam            1
Wylie             1
Millburn          1
Daingerfield      1
Name: City, Length: 7554, dtype: int64

In [8]:
zdf['Zipcode'] = zdf['Zipcode'].apply('{:0>5}'.format)

In [9]:
zdf.sort_values(by='Zipcode')

,RegionID,Zipcode,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
5850,58196,01001,Agawam,MA,Springfield,Hampden,5851,113100.0,112800.0,112600.0,...,213900,215700,218200,220100,221100,221700,221700,221700,222700,223600
4199,58197,01002,Amherst,MA,Springfield,Hampshire,4200,161000.0,160100.0,159300.0,...,333700,334800,336700,338900,340400,342000,344500,347400,350600,353300
11213,58200,01005,Barre,MA,Worcester,Worcester,11214,103100.0,103400.0,103600.0,...,205600,206800,208800,210400,211300,213300,215600,217900,219500,220700
6850,58201,01007,Belchertown,MA,Springfield,Hampshire,6851,133400.0,132700.0,132000.0,...,266100,266300,267000,267500,268000,268100,268100,268800,270000,270600
14547,58202,01008,Blandford,MA,Springfield,Hampden,14548,117500.0,117300.0,117100.0,...,202400,202900,205900,208500,207500,205400,204500,206800,210900,214200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4526,100384,99709,Fairbanks,AK,Fairbanks,Fairbanks North Star,4527,103000.0,103900.0,104700.0,...,260100,260700,261500,262000,262400,262800,262800,262300,262000,262400
8438,100387,99712,Fairbanks,AK,Fairbanks,Fairbanks North Star,8439,109200.0,109600.0,110000.0,...,268800,270000,271300,272500,273200,273500,273800,273800,273900,274600
4106,100459,99801,Juneau,AK,Juneau,Juneau,4107,166800.0,166200.0,165400.0,...,398600,397800,398200,398800,399800,402300,406200,409800,412600,413300
8658,100473,99835,Sitka,AK,NaN,Sitka,8659,155500.0,154900.0,154200.0,...,379500,381800,383600,386600,391300,396200,397500,398900,402100,404800
7293,100478,99901,Ketchikan,AK,Ketchikan,Ketchikan Gateway,7294,117100.0,117200.0,117300.0,...,285400,286100,285800,286300,288800,291900,294200,297500,302100,305100

In [20]:
def melt_data(df):
    melted = pd.melt(df, id_vars=['RegionID','Zipcode', 'City', 'State', 'Metro', 'CountyName', 'SizeRank'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted.groupby('time').aggregate({'value':'mean'})

In [22]:
dfm = melt_data(zdf)
display(dfm.head())
dfm.info()
dfm.shape

                    value
time
1996-04-01  118299.123063
1996-05-01  118419.044139
1996-06-01  118537.423268
1996-07-01  118653.069278
1996-08-01  118780.254312

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 265 entries, 1996-04-01 to 2018-04-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   265 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

(265, 1)

# Step 2: Data Preprocessing

In [ ]:
def get_datetimes(df):
    return pd.to_datetime(df.columns.values[1:], format='%Y-%m')

# Step 3: EDA and Visualization

In [ ]:
font = {'family' : 'normal',
        'weight' : 'bold',
        'size'   : 22}

plt.rc('font', **font)

# NOTE: if you visualizations are too cluttered to read, try calling 'plt.gcf().autofmt_xdate()'!

# Step 4: Reshape from Wide to Long Format

In [ ]:
def melt_data(df):
    melted = pd.melt(df, id_vars=['RegionName', 'City', 'State', 'Metro', 'CountyName'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted.groupby('time').aggregate({'value':'mean'})

# Step 5: ARIMA Modeling

# Step 6: Interpreting Results